.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/****************************************************************
                  RESPONSIVE
*****************************************************************/

/* *********ESERCIZIO EFETTIVO*************/

/* desktop first - < 420px */

@media screen and (max-width: 419px){
  .container {
    max-width: 419px;
    margin-bottom: 70px;
  }

  .row {
    width: 100%;
    margin-top: 50px;
  }

  img {
    max-width: 70%;
    height: auto;
    margin-top: 30px;
  }
  
  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: none;
    margin-bottom: 50px;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }

  /* BLOCCO PERCHE */

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 20px;
  }

  #why .row img {
    padding: 0px;
  }

  #why .row hr {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}


/* ESERCIZIO BONUS */
/* desktop first  420px ~ 991px */

@media screen and (min-width: 420px) and (max-width: 991px){
  .container {
    min-width: 420px;
    max-width: 991px;
    margin-bottom: 70px;
  }
  
  .row {
    width: 100%;
    margin-top: 50px;
  }
  
  img {
    max-width: 100%;
    height: 150px;
    margin-top: 30px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: calc(50% - 10px);
    float: left;
  }

  #lezioni .row>.left {
    margin-right: 10px;
  }

  /* BLOCCO STEPS */
  #steps .row>.left {
    margin-right: 10px;
  }

  #steps .row>.left,
  #steps .row>.central {
    float: left;
    width: calc(100% / 2 - 10px);
    margin-bottom: 40px;
  }

  #steps .row>.right {
    float: none;
    margin: auto;
  }
}
  
  /******Fine bonus****/










